<!DOCTYPE html>
<html>
<head><title>Notes</title></head>
<body>
  <h1>All Notes</h1>
  <a href="/notes/new">Add Note</a>
  <ul>
    <% for(let note of notes){ %>
      <li>
        <a href="/notes/<%= note.id %>"><%= note.title %></a>
      </li>
    <% } %>
  </ul>
</body>
</html>